body {
    background-color: #202020;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

header {
    padding: 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #444;
    border: none;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 14px;
}

.button:hover {
    background-color: #666;
}