body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
  }
  
  #bg {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('https://wallpapercave.com/wp/wp2908940.jpg');
    
    background-size: cover;
    background-position: center;
  }
  
  #dvd {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 95px;
    width: 355px;
    color: #FFF;
    border-radius: 24px;
    background-color: rgba(0, 0, 50, 0);
    backdrop-filter: blur(12px);
    border-radius: 24px;
    border: 2px solid rgb(62, 68, 70, 0.5);
  }
  
  .logo-text {
    font-size: 41px;
    font-weight: bold;
    text-align: center;
  }
  
  .logo-subtext {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
  }